In [2]:
import pandas as pd
import numpy as np

# Load data
df = pd.read_csv("/content/train.csv")  # Replace with actual path
df

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

In [3]:
df.head()

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50

In [4]:
print(df.isnull().sum())

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64

In [5]:
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
df['Power'] = df['Power'].fillna(df['Power'].median())
df['New_Price'] = df['New_Price'].fillna(df['New_Price'].mode()[0])
df['Fuel_Type'] = df['Fuel_Type'].fillna(df['Fuel_Type'].mode()[0])
df['Transmission'] = df['Transmission'].fillna(df['Transmission'].mode()[0])

TypeError: Cannot convert ['19.67 kmpl' '13 km/kg' '20.77 kmpl' ... '14.0 kmpl' '18.9 kmpl'
 '25.44 kmpl'] to numeric

In [6]:

# Remove unit strings BEFORE trying to fillna or convert
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl', '', regex=False)
df['Mileage'] = df['Mileage'].astype(str).str.replace(' km/kg', '', regex=False)
df['Mileage'] = pd.to_numeric(df['Mileage'], errors='coerce')

df['Engine'] = df['Engine'].astype(str).str.replace(' CC', '', regex=False)
df['Engine'] = pd.to_numeric(df['Engine'], errors='coerce')

df['Power'] = df['Power'].astype(str).str.replace(' bhp', '', regex=False)
df['Power'] = pd.to_numeric(df['Power'], errors='coerce')

df['New_Price'] = df['New_Price'].astype(str).str.replace(' Lakh', '', regex=False)
df['New_Price'] = pd.to_numeric(df['New_Price'], errors='coerce')

In [7]:
# Now you can safely fill missing numerical values
df['Mileage'] = df['Mileage'].fillna(df['Mileage'].median())
df['Engine'] = df['Engine'].fillna(df['Engine'].median())
df['Power'] = df['Power'].fillna(df['Power'].median())
df['New_Price'] = df['New_Price'].fillna(df['New_Price'].mode()[0])

# And for categorical columns
df['Fuel_Type'] = df['Fuel_Type'].fillna(df['Fuel_Type'].mode()[0])
df['Transmission'] = df['Transmission'].fillna(df['Transmission'].mode()[0])

In [8]:
# Remove units like 'kmpl', 'CC', 'bhp', 'Lakh'
df['Mileage'] = df['Mileage'].astype(str).str.replace(' kmpl', '').astype(float)
df['Engine'] = df['Engine'].astype(str).str.replace(' CC', '').astype(float)
df['Power'] = df['Power'].astype(str).str.replace(' bhp', '').astype(float)
df['New_Price'] = df['New_Price'].astype(str).str.replace(' Lakh', '').astype(float)

<!-- JUSTIFICATION -->

<!-- JUSTIFICATION  -->
I didnâ€™t want to lose a lot of data, so instead of removing rows, I filled in the missing values.

For the number-based columns, I used the median because itâ€™s more stableâ€”even if there are some very high or very low values, it wonâ€™t get affected much.

And for columns with text (like fuel type or transmission), I just used the most common value (mode), because that feels like the safest guess.

I only thought about dropping a column if it was missing a lot of data and wasnâ€™t super important. This way, I could keep the dataset as complete and useful as possible.

<!-- Justification  -->

In [9]:
# Convert Fuel_Type and Transmission to numeric format
df = pd.get_dummies(df, columns=['Fuel_Type', 'Transmission'], drop_first=True)

In [ ]:
from datetime import datetime
current_year = datetime.now().year

# Create a new column "Car_Age"
df['Car_Age'] = current_year - df['Year']

In [10]:
# Split 'Name' into 'Make' and 'Model'
df['Make'] = df['Name'].str.split().str[0]
df['Model'] = df['Name'].str.split().str[1:].str.join(' ')

# Rename 'Price' to 'Car_Price'
df.rename(columns={'Price': 'Car_Price'}, inplace=True)

# Select: only Make, Model, and Car_Price
selected = df[['Make', 'Model', 'Car_Price']]
print("Selected Columns:\n", selected.head())

# Filter: show only Diesel cars if 'Fuel_Type_Diesel' exists
if 'Fuel_Type_Diesel' in df.columns:
    diesel_cars = df[df['Fuel_Type_Diesel'] == 1]
    print("Diesel Cars:\n", diesel_cars[['Make', 'Model', 'Car_Price']].head())
else:
    print("Column 'Fuel_Type_Diesel' not found.")

# Mutate: create a new column dividing price by engine size
df['Price_per_CC'] = df['Car_Price'] / df['Engine']

# Arrange: sort by Car_Price from high to low
sorted_df = df.sort_values(by='Car_Price', ascending=False)
print("Sorted by Car_Price:\n", sorted_df[['Make', 'Model', 'Car_Price']].head())

# Group by Fuel_Type_Diesel and get average price if the column exists
# Create a new column to indicate Diesel cars if not already present
if 'Fuel_Type_Diesel' not in df.columns:
    df['Fuel_Type_Diesel'] = (df[['Fuel_Type_Electric', 'Fuel_Type_Petrol']].sum(axis=1) == 0).astype(int)

Selected Columns:
       Make                       Model  Car_Price
0  Hyundai    Creta 1.6 CRDi SX Option      12.50
1    Honda                      Jazz V       4.50
2   Maruti                  Ertiga VDI       6.00
3     Audi  A4 New 2.0 TDI Multitronic      17.74
4   Nissan             Micra Diesel XV       3.50
Column 'Fuel_Type_Diesel' not found.
Sorted by Car_Price:
              Make                                   Model  Car_Price
3952         Land  Rover Range Rover 3.0 Diesel LWB Vogue     160.00
5620  Lamborghini                          Gallardo Coupe     120.00
5752       Jaguar                         F Type 5.0 V8 S     100.00
1457         Land              Rover Range Rover Sport SE      97.07
1917          BMW                          7 Series 740Li      93.67

In [12]:
df.to_csv('cleaned_used_car_data.csv', index=False)

In [13]:
# Group by Diesel status and calculate average car price
grouped_avg_price = df.groupby('Fuel_Type_Diesel')['Car_Price'].mean().reset_index()

# Replace 0/1 with readable labels
grouped_avg_price['Fuel_Type'] = grouped_avg_price['Fuel_Type_Diesel'].map({0: 'Not Diesel', 1: 'Diesel'})

# Reorder columns
grouped_avg_price = grouped_avg_price[['Fuel_Type', 'Car_Price']]

# Rename for clarity
grouped_avg_price.columns = ['Fuel_Type', 'Average_Car_Price']

# Print the nicely formatted result
print("\nAverage Car Price by Fuel Type:\n")
print(grouped_avg_price)

Average Car Price by Fuel Type:

    Fuel_Type  Average_Car_Price
0  Not Diesel           5.761988
1      Diesel          12.960686

In [20]:
# Create readable labels from dummy columns
df['Fuel_Type_Label'] = df[['Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Fuel_Type_Electric']].idxmax(axis=1).str.replace('Fuel_Type_', '')
df['Transmission_Label'] = df['Transmission_Manual'].apply(lambda x: 'Manual' if x == 1 else 'Automatic')

# Group by the readable labels and calculate average price
grouped_summary = df.groupby(['Fuel_Type_Label', 'Transmission_Label'])['Car_Price'].mean().reset_index()

# Print the summary
print("\nAverage Car Price based on Fuel Type and Transmission:\n")
print(grouped_summary)

# Save to CSV
grouped_summary.to_csv("task_e_groupby_fuel_trans_summary.csv", index=False)

Average Car Price based on Fuel Type and Transmission:

  Fuel_Type_Label Transmission_Label  Car_Price
0          Diesel          Automatic  24.618490
1          Diesel             Manual   6.686462
2        Electric          Automatic  12.875000
3          Petrol          Automatic  11.252450
4          Petrol             Manual   4.160803

In [21]:
# Create readable labels from one-hot encoded columns
df['Fuel_Type_Label'] = df[['Fuel_Type_Diesel', 'Fuel_Type_Petrol', 'Fuel_Type_Electric']].idxmax(axis=1).str.replace('Fuel_Type_', '')
df['Transmission_Label'] = df['Transmission_Manual'].apply(lambda x: 'Manual' if x == 1 else 'Automatic')

# Group by fuel and transmission labels
grouped_avg = df.groupby(['Fuel_Type_Label', 'Transmission_Label'])['Car_Price'].mean().reset_index()

# Show the result
print("\nFuel Type and Transmission-wise Average Price:\n")
print(grouped_avg)

# Save to CSV
grouped_avg.to_csv("task_e_groupby_fuel_trans_summary.csv", index=False)

Fuel Type and Transmission-wise Average Price:

  Fuel_Type_Label Transmission_Label  Car_Price
0          Diesel          Automatic  24.618490
1          Diesel             Manual   6.686462
2        Electric          Automatic  12.875000
3          Petrol          Automatic  11.252450
4          Petrol             Manual   4.160803

In [16]:
df.to_csv("cleaned_used_car_data.csv", index=False)
print("\nâœ… Cleaned dataset saved as 'cleaned_used_car_data.csv'")

âœ… Cleaned dataset saved as 'cleaned_used_car_data.csv'

In [22]:
from google.colab import files
files.download("cleaned_used_car_data.csv")